div {
    position: static; /*指定元素定位类型*/
}

/*说明：元素可以使用的顶部，底部，左侧和右侧属性定位。然而，这些属性无法工作，除非是先设定position属性*/
/*
static：默认值，即没有定位，元素出现在正常的流中。静态定位的元素不会受到 top, bottom, left, right影响
fixed：元素的位置相对于浏览器窗口是固定位置。即使窗口是滚动的它也不会移动，可使用top。bottom等定位，Fixed定位使元素的位置与文档流无关，因此不占据空间。
Fixed定位的元素和其他元素重叠
relative：相对定位元素的定位是相对其正常位置，相对定位元素经常被用来作为绝对定位元素的容器块。
absolute：绝对定位的元素的位置是相对于最近的已定位父元素，如果元素没有已定位的父元素，那么它的位置相对于<html>
Absolute定位使元素的位置与文档流无关，因此不占据空间。
Absolute定位的元素和其他元素重叠。

元素的定位与文档流无关，所以它们可以覆盖页面上的其它元素
z-index属性指定了一个元素的堆叠顺序（哪个元素应该放在前面，或后面）
一个元素可以有正数或负数的堆叠顺序,具有更高堆叠顺序的元素总是在较低的堆叠顺序元素的前面
如果两个定位元素重叠，没有指定z - index，最后定位在HTML代码中的元素将被显示在最前面
*/
div {
    z-index: -1; /*设置元素堆叠顺序*/
    top: 1px; /*定义了定位元素的上外边界与其包含块（父块）上边框内边界之间的偏移*/
    right: 1px; /*定义了定位元素的右外边界与其包含块右边框内边界之间的偏移*/
    bottom: 1px; /*定义了定位元素下外边界与其包含块下边框内边界之间的偏移*/
    left: 1px; /*定义了定位元素左外边界与其包含块左边框内边界之间的偏移,可使用%，设置以包含元素的百分比计的右边位置。可使用负值*/
    overflow: scroll;
    /*设置当元素的内容溢出其区域时发生的事情,
    visible:默认值。内容不会被修剪，会呈现在元素框之外
    scroll:内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容
    hidden:内容会被修剪，并且其余内容是不可见的
    auto:如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。
    */
    cursor: none;/*定义了鼠标指针放在一个元素边界范围内时所用的光标形状*/

}